{% block head_scripts %}
  <script type="module" src="/ah_workspace/static/js/workspace.js"></script>
  <script type="module" src="/ah_workspace/static/js/workspace-area.js"></script>
  <style>
    .page-container {
      display: flex;
      height: 100vh;
      width: 100%;
    }
    .left-side {
      width: 280px;
      overflow-y: auto;
      height: 100vh;
    }
    .workspace-container {
      flex: 1;
      overflow-y: auto;
      height: 100vh;
      min-width: 0; /* Prevents flex items from overflowing */
    }
    .main {
      overflow-y: hidden;
      height: 100vh;
      width: 280px;
      flex: none;
      display: block;
    }
  </style>
{% endblock %}

{% block insert %}
  <div class="workspace-container">
    <workspace-area></workspace-area>
  </div>
{% endblock %}
