{% block head_scripts %}
  <script type="module" src="/ah_workspace/static/js/workspace.js"></script>
  <script type="module" src="/ah_workspace/static/js/workspace-area.js"></script>
  <style>
    .page-container {
      display: flex;
      height: 100vh;
    }
    .left-side {
      width: 280px;
      overflow-y: auto;
      height: 100vh;
    }
    .workspace-container {
      flex-grow: 1;
      overflow-y: auto;
      width: calc(100% - 580px); /* Accounting for both sidebars */
      height: 100vh;
      padding: 20px;
    }
    .main {
      width: 600px; /* Fixed width for chat */
      overflow-y: hidden;
      height: 100vh;
      flex: none;
      display: block;
    }
  </style>
{% endblock %}

{% block insert %}
  <div class="workspace-container">
    <workspace-area></workspace-area>
  </div>
{% endblock %}
